<% if @about_us%>
    <div class="uou-demo-block">
      <div class="container">
        <div class="row">
          <h1><%= @about_us.title %></h1>
          <div class="col-md-12">
            <p class="dropcaps secondary">
              <%= @about_us.lead %>
            </p>
          </div>
        </div>
      </div>
    </div>  <!--  end uou-demo-block -->
<% end %>