<div class="uou-map-section">
  <div class="uou-block-12a">
    <div class="map-container">
      <div class="map" data-height="300" data-center-lat="37.7749295" data-center-lng="-122.41941550000001"></div>
    </div>
  </div> <!-- end .uou-block-12a -->
</div>
<div class="uou-block-4c">
  <div class="container">
    <hr>

    <ul class="contact-info">
      <li>
        <i class="fa fa-map-marker"></i>
        <address>795 Folsom Ave, Suite 600, San Francisco, CA 94107</address>
      </li>

      <li>
        <i class="fa fa-phone"></i>
        <a href="tel:#">(123) 456-7890</a>
      </li>

      <li>
        <i class="fa fa-envelope"></i>
        <a href="mailto:#">first.last@example.com</a>
      </li>
    </ul>
  </div>
</div> <!-- end .uou-block-4c -->