<div class="uou-demo-block">
  <h1 class="block-title">HeY!</h1>
  <p class="block-secondary-title">
    We are Simple Builder, your new business partner
  </p>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="uou-block-8d">
          <i class="fa fa-code"></i>

          <h5>Web Development</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


        </div> <!-- end .uou-block-8d -->
      </div>

      <div class="col-sm-3">
        <div class="uou-block-8d active">
          <i class="fa fa-android"></i>

          <h5>Mobile</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


        </div> <!-- end .uou-block-8d -->
      </div>

      <div class="col-sm-3">
        <div class="uou-block-8d">
          <i class="fa fa-comment"></i>

          <h5>Brand</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


        </div> <!-- end .uou-block-8d -->
      </div>

      <div class="col-sm-3">
        <div class="uou-block-8d">
          <i class="fa fa-paper-plane-o"></i>

          <h5>Advertising</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


        </div> <!-- end .uou-block-8d -->
      </div>
    </div>
  </div>
</div> <!--   end uou-demo-block -->