<div class="uou-demo-block">

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="uou-toggle-content">
          <div class="content-main">

            <h6><a class="toggle-btn active" href="#"></a>
              Web Development</h6>
            <div class="content-hidden active">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>

          <div class="content-main">

            <h6><a class="toggle-btn" href="#"></a>
              Web Development</h6>
            <div class="content-hidden">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>


          <div class="content-main">

            <h6><a class="toggle-btn" href="#"></a>
              Web Development</h6>
            <div class="content-hidden">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-7">

        <div class="uou-progressbar-single">
          <h6>Html &amp; Css</h6>
            <span class="main-bar">
              <span class="inner-bar one"></span>
              <b class="progress-percent">87%</b>
            </span>
        </div>

        <div class="uou-progressbar-single">
          <h6>Html &amp; Css</h6>
            <span class="main-bar">
              <span class="inner-bar one gradient-one"></span>
              <b class="progress-percent">87%</b>
            </span>
        </div>

        <div class="uou-progressbar-single">
          <h6>Web Design</h6>
            <span class="main-bar">
              <span class="inner-bar two gradient-two"></span>
              <b class="progress-percent">96%</b>
            </span>
        </div>

        <div class="uou-progressbar-single">
          <h6>Wordpress Development</h6>
            <span class="main-bar">
              <span class="inner-bar three gradient-three"></span>
              <b class="progress-percent">78%</b>
            </span>
        </div>
      </div>

    </div>

  </div> <!-- endcontainer -->


</div>  <!--  end uou-demo-block -->