<div class="uou-demo-block">
  <div class="uou-block-5b">
    <div class="container">
      <blockquote class="first active">
        <p>There are design companies, and then there are user experience, design, consulting, interface design, brilliant, and professional. UOU Apps, is by far one of the worlds best known brands.</p>

        <footer><cite><a href="#">Tracy Chapman</a></cite></footer>
      </blockquote>

      <blockquote class="second">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est accusamus perferendis nulla! Quidem iure voluptates tempore ad veniam doloribus error sequi, facilis recusandae ipsam a inventore labore est quas?</p>

        <footer><cite><a href="#">John Kevin Mara</a></cite></footer>
      </blockquote>

      <blockquote class="third">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque! Omnis aspernatur consequatur, sint quis facere. Voluptate error quas, consequatur amet dolores atque accusantium tempora pariatur, ut vitae, vel officia molestiae odio tenetur veniam.</p>

        <footer><cite><a href="#">Jason Santa Maria</a></cite></footer>
      </blockquote>

      <ul class="tabs">
        <li data-target="first" class="active">
          <img src="../img/avatar.png" alt="">
          <h6>Tracy Chapman</h6>
          <a href="#">webdesign.tutsplus.com</a>
        </li>

        <li data-target="second">
          <img src="../img/avatar.png" alt="">
          <h6>John Kevin Mara</h6>
          <a href="#">smashingmagazine.com</a>
        </li>

        <li data-target="third">
          <img src="../img/avatar.png" alt="">
          <h6>Jason Santa Maria</h6>
          <a href="#">alistapart.com</a>
        </li>
      </ul>
    </div>
  </div> <!-- end .uou-block-5b -->


</div>  <!--  end uou-demo-block -->