<div class="uou-block-5a uou-twitter-content has-bg-image" data-bg-image="../img/banner.jpg" data-bg-color="000" data-bg-opacity=".20">
  <div class="container">
    <blockquote>
      <div class="flexslider default-slider">
        <ul class="slides">
          <li class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

            <div class="twitt-details">
              <p>
                <span>2 week ago</span>
                <a href="#">Reply</a>
                <a href="#">Retweet</a>
                <a href="#">Favorite</a>
              </p>
            </div>
          </li>

          <li class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

            <div class="twitt-details">
              <p>
                <span>4 week ago</span>
                <a href="#">Reply</a>
                <a href="#">Retweet</a>
                <a href="#">Favorite</a>
              </p>
            </div>
          </li>

          <li class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

            <div class="twitt-details">
              <p>
                <span>3 week ago</span>
                <a href="#">Reply</a>
                <a href="#">Retweet</a>
                <a href="#">Favorite</a>
              </p>
            </div>
          </li>

        </ul>
      </div>
    </blockquote>
  </div>
</div> <!-- end .uou-block-5a -->