<div class="uou-block-4a secondary">
  <div class="container">
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>

    <p>Copyright &copy; 2015 <a href="#">Simple Builder</a>. All Rights reserved.</p>
  </div>
</div>