<div class="box-shadow-for-ui">
  <div class="uou-block-2e">
    <div class="container">
      <nav class="nav">
        <ul class="sf-menu sf-js-enabled sf-arrows">
          <li class="active"><a href="<%= root_path%>">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div> <!-- end .uou-block-2e -->
</div>