<div class="box-shadow-for-ui">
  <div class="uou-block-2a">
    <div class="container">
      <a class="logo" href="#"><img alt="" src="img/logo.png"></a>
      <a class="mobile-sidebar-button mobile-sidebar-toggle" href="#"><span></span></a>

      <div class="contact">
        <span>Call Us:</span>
        <a href="tel:(02)1234567890">(02) 123-456-7890</a>
      </div>
    </div>
  </div> <!-- end .uou-block-2a -->
</div>